@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Roboto, system-ui, sans-serif;
  }

  @font-face {
    font-family: Roboto;
    font-weight: 400;
    src: url(/public/fonts/Roboto-Regular.ttf);
  }

  @font-face {
    font-family: Roboto;
    font-weight: 500;
    src: url(/public/fonts/Roboto-Medium.ttf);
  }

  @font-face {
    font-family: Roboto;
    font-weight: 700;
    src: url(/public/fonts/Roboto-Bold.ttf);
  }

  @font-face {
    font-family: Roboto;
    font-weight: 900;
    src: url(/public/fonts/Roboto-Black.ttf);
  }
}

@layer components {
  .text-outline {
    text-shadow: -1px -1px 0 rgb(233, 242, 250, 0.4),
      0 -1px 0 rgb(233, 242, 250, 0.4), 1px -1px 0 rgb(233, 242, 250, 0.4),
      1px 0 0 rgb(233, 242, 250, 0.4), 1px 1px 0 rgb(233, 242, 250, 0.4),
      0 1px 0 rgb(233, 242, 250, 0.4), -1px 1px 0 rgb(233, 242, 250, 0.4),
      -1px 0 0 rgb(233, 242, 250, 0.4);
  }
}

/*Styles für die Anzeige des Inspectors*/

#inspector-host,
#scene-explorer-host {
  z-index: 999 !important;
  position: fixed !important;
  top: 5rem !important;
  right: 19rem !important;
  width: 1vw !important;
  height: 80%;
}

#scene-explorer-host {
  top: 5rem !important;
  left: 1rem !important;
}
