@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Roboto, system-ui, sans-serif;
  }

  @font-face {
    font-family: Roboto;
    font-weight: 400;
    src: url(/public/fonts/Roboto-Regular.ttf);
  }

  @font-face {
    font-family: Roboto;
    font-weight: 500;
    src: url(/public/fonts/Roboto-Medium.ttf);
  }

  @font-face {
    font-family: Roboto;
    font-weight: 700;
    src: url(/public/fonts/Roboto-Bold.ttf);
  }

  @font-face {
    font-family: Roboto;
    font-weight: 900;
    src: url(/public/fonts/Roboto-Black.ttf);
  }
}

@layer components {
  .text-outline {
    text-shadow:
      -1px -1px 0 rgb(233, 242, 250, 0.4),
      0 -1px 0 rgb(233, 242, 250, 0.4),
      1px -1px 0 rgb(233, 242, 250, 0.4),
      1px 0 0 rgb(233, 242, 250, 0.4),
      1px 1px 0 rgb(233, 242, 250, 0.4),
      0 1px 0 rgb(233, 242, 250, 0.4),
      -1px 1px 0 rgb(233, 242, 250, 0.4),
      -1px 0 0 rgb(233, 242, 250, 0.4);
  }
  .bubblecornerbottomleft {
    clip-path: polygon(100% 0, 0 54%, 35% 0);
  }
  .bubblecornertopleft {
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  }
}

body {
  background-color: #a1c8e5;
}

/*Animiertes Styling für LadeBalken im Ladescreen */
.animateColor {
  background-color: #172d4d;
  animation-name: loadingColor;
  animation-duration: 5s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
}

.animateColor1 {
  background-color: #172d4d;
  animation-name: loadingColor;
  animation-duration: 5s;
  animation-delay: 0.5s;
  animation-iteration-count: infinite;
}

.animateColor2 {
  background-color: #172d4d;
  animation-name: loadingColor;
  animation-duration: 5s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
}

.animateColor3 {
  background-color: #172d4d;
  animation-name: loadingColor;
  animation-duration: 5s;
  animation-delay: 1.5s;
  animation-iteration-count: infinite;
}

.animateColor4 {
  background-color: #172d4d;
  animation-name: loadingColor;
  animation-duration: 5s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
}

.animateColor5 {
  background-color: #172d4d;
  animation-name: loadingColor;
  animation-duration: 5s;
  animation-delay: 2.5s;
  animation-iteration-count: infinite;
}

.animateColor6 {
  background-color: #172d4d;
  animation-name: loadingColor;
  animation-duration: 5s;
  animation-delay: 3s;
  animation-iteration-count: infinite;
}

.animateColor7 {
  background-color: #172d4d;
  animation-name: loadingColor;
  animation-duration: 5s;
  animation-delay: 3.5s;
  animation-iteration-count: infinite;
}

.animateColor8 {
  background-color: #172d4d;
  animation-name: loadingColor;
  animation-duration: 5s;
  animation-delay: 4s;
  animation-iteration-count: infinite;
}

.animateColor9 {
  background-color: #172d4d;
  animation-name: loadingColor;
  animation-duration: 5s;
  animation-delay: 4.5s;
  animation-iteration-count: infinite;
}

.animateColor10 {
  background-color: #172d4d;
  animation-name: loadingColor;
  animation-duration: 5s;
  animation-delay: 5s;
  animation-iteration-count: infinite;
}

@keyframes loadingColor {
  0%,
  20% {
    background-color: #172d4d;
  }
  10% {
    background-color: #e9d6b3;
  }
}

/*Styles für die Anzeige des Inspectors*/

#inspector-host,
#scene-explorer-host {
  z-index: 999 !important;
  position: fixed !important;
  top: 5rem !important;
  right: 19rem !important;
  width: 1vw !important;
  height: 80%;
}

#scene-explorer-host {
  top: 5rem !important;
  left: 1rem !important;
}

@media screen and (max-width: 500px) {
  #inspector-host,
  #scene-explorer-host {
    transform: scale(0.6);
  }

  #inspector-host {
    right: 11.2rem !important;
  }

  #scene-explorer-host {
    left: 0.2rem !important;
  }
}

/* Special Styles for OverallTimeSpentAdaptivityNotification Slider */
.slider {
  -ms-overflow-style: none; /* Hide scrollbar IE and Edge */
  scrollbar-width: none; /* Hide scrollbar Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.slider::-webkit-scrollbar {
  display: none;
}

.colorpicker-colors {
  transition: all 0.2s ease;
}

.colorpicker-colors:hover {
  transition: all 0.2s ease;
  transform: scale(1.4);
}

.bodyProportionContainer {
  display: grid;
  width: 100%;
  grid-template-columns: auto 1fr;
  column-gap: 10px;
  row-gap: 20px;
}

.numberInputField {
  text-align: center;
  background-color: transparent;
  appearance: textfield;
  width: 100%;
}

/* Hide spin-buttons for Chrome, Safari and Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.scrollGutter {
  scrollbar-gutter: stable;
}

.accordion {
  transition: all 1s;
}

.accordionOpening {
  transition: all 0.25s;
  position: relative;
  visibility: visible;
  opacity: 1;
  height: 1;
}

.accordionCollapsing {
  position: relative;
  opacity: 0;
  height: 0;
  transform: scale(0%);
}

.cursorState_Load {
  cursor: progress;
}

.cursorState_Auto {
  cursor: auto;
}
