@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*Styles für die Anzeige des Inspectors*/

#inspector-host {
  position: fixed !important;
  top: 50vh;
  left: 0px;
  width: 20vw !important;
  height: 30vh;
}

#scene-explorer-host {
  position: fixed !important;
  top: 10vh;
  width: 20vw !important;
  height: 30vh;
}
