@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .h90vh {
    height: 90vh;
  }

  .w95vw {
    width: 95vw;
  }

  .w80vw {
    width: 80vw;
  }
  .max-h-90pro {
    max-height: 90%;
  }
  .h-90pro {
    height: 90%;
  }
}

/*Styles für die Anzeige des Inspectors*/

#inspector-host,
#scene-explorer-host {
  position: fixed !important;
  top: 5rem !important;
  right: 19rem !important;
  width: 1vw !important;
  height: 80%;
}

#scene-explorer-host {
  top: 5rem !important;
  left: 1rem !important;
}
