@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .h95prozent {
    height: 95%;
  }
}

/*Styles für die Anzeige des Inspectors*/

#inspector-host,
#scene-explorer-host {
  position: fixed !important;
  top: 5rem !important;
  right: 19rem !important;
  width: 1vw !important;
  height: 80%;
}

#scene-explorer-host {
  top: 5rem !important;
  left: 1rem !important;
}
